ccxt==4.1.97
websockets==12.0
pyyaml==6.0.1
pandas==2.2.2
plotly==5.20.0
streamlit==1.32.0
colorama==0.4.6
numpy==1.26.4
matplotlib==3.8.4
river==0.17.0
pytest==8.2.0
scikit-learn==1.4.2
torch==2.2.1
